:root {
  --primarycolor: hsl(218, 44%, 22%);
  --secondarycolor: hsl(220, 15%, 55%);
  --lightgrey: hsl(220deg, 15%, 55%);
  --white: hsl(0, 0%, 100%);
  --font: "Ubuntu", sans-serif;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondarycolor);
  font-family: var(--font);
  max-height: 100vh;
  height: 100%;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contents {
  background-color: var(--white);
  max-width: 320px;
  padding: 1rem;
  border-radius: 16px;
  text-align: center;
}

#qr-code-container {
  width: 100%;
}

.qr-code-image {
  width: 100%;
  border-radius: 16px;
}

h1 {
  color: var(--primarycolor);
  font-weight: 700;
}

p {
  color: var(--lightgrey);
  font-size: 15px;
  font-weight: 400;
}

@media screen and (min-width: 1440px) {
  #contents {
    width: 20%;
  }
}
